<h1>Results for <%= facade.search %></h1>

<% facade.stations.each do |result| %>
  <section class='station'>
    <p>Station Name: <%= result.name %></p>
    <p>Station Address: <%= result.address %></p>
    <p>Fuel Types: <%= result.fuel_types %></p>
    <p>Distance: <%= result.distance %></p>
    <p>Access Times: <%= result.access_times %></p>
  </section>
  <br>
  <br>

<% end %>

<h2>15 Closest Stations within 5 miles</h2>
<% facade.stations.each do |result| %>
  <% if (result.fuel_types == 'LPG' || result.fuel_types == 'ELEC') && result.access == 'public' %>
    <section class='station'>
      <p>Station Name: <%= result.name %></p>
      <p>Station Address: <%= result.address %></p>
      <p>Fuel Types: <%= result.fuel_types %></p>
      <p>Distance: <%= result.distance %></p>
      <p>Access Times: <%= result.access_times %></p>
    </section>
    <br>
    <br>
  <% end %>
<% end %>
