<h1>Results for <%= facade.search %></h1>

<% facade.stations.each do |result| %>

  <p><%= result.name %></p>
  <p><%= result.address %></p>
  <p><%= result.fuel_types %></p>
  <p><%= result.distance %></p>
  <p><%= result.access_times %></p>

<% end %>

<h2>15 closest stations within 5 miles</h2>
